@using WildPay.Models
@using WildPay.Tools

@model Category
@{
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Connexion/Index");
    }
}

<div class="categories">
    <h2>Catégories des dépenses du groupe</h2>



    <div class="categories-wrapper box">
        @using (Html.BeginForm())
        {
            <h3>Créer une nouvelle catégorie</h3>

            <div class="form-group">
                @Html.LabelFor(Model => Model.Name)
                @Html.EditorFor(Model => Model.Name)
                <p class="error">
                    @Html.ValidationMessageFor(Model => Model.Name)
                    @ViewBag.Message
                </p>
            </div>
            @Html.ValidationSummary(true)

            <div class="categories-btn">
                <input type="reset" value="Annuler" />
                <input class="btn btn-primary" type="submit" value="Valider" />
            </div>

        }

        <h4>Catégories existantes :</h4>
        <p class="error">ATTENTION : la suppression d'une catégorie est définitive et les catégories des dépenses associées devront être à nouveau saisies manuellement.</p>

        <div class="categories-list">

            @{
                List<Category> categories = ViewBag.listeCategories;
                foreach (Category cat in categories)
                {
                    <div class="categorie-name">
                        @if (cat.IsBase == false)
                        {
                            <a class="categories-delete" href='@Url.Action("DeleteCategorie", "Categories", new { categorieToDelete = cat.Id })'>
                                <ion-icon name="trash"></ion-icon>
                            </a>
                        } else
                        {
                            <div class="categories-delete disabled">
                                <ion-icon name="trash"></ion-icon>
                            </div>
                        }
                    <p class="text-no-overflow">@Utilities.GetPremiereLettreMajuscule(cat.Name)</p>
                    </div>

                }
            }

        </div>

    </div>

</div>
