@*@{
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Connexion/Index");
    }
}*@



<div class="container">
    <div style="display: flex" class="row">
        <div style="flex:1">
            <h2 style="text-align:center">Dépenses du groupe</h2>
            <ul style="border-right: 1px solid black" class="list-group">

                @foreach (var expense in ViewBag.listExpenses)
                {
                    <li style="margin: 30px 30px; border-radius: 10px; border-color: black; border-style: solid; mar " class="list-group-item">
                        <h3 class="expense-name">@expense.Name</h3>
                        <h4 class="expense-title">@expense.Title</h4>
                        <h3 style="float:right" class="expense-value">@expense.Value €</h3>
                        <p class="expense-userDetail">@expense.UserImage Payé par @expense.Firstname @expense.Lastname au groupe</p>
                        <small class="expense-date">@expense.DateCourte</small>
                    </li>
                }
            </ul>
        </div>
        <div style="flex:1">
            <h2 style="text-align:center">Bilan du groupe</h2>
            <p style="margin: 30px 30px; text-align: center">toto</p>
        </div>
    </div>
</div>