@*@{
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Connexion/Index");
    }
}*@


<div class="expense">
    <div class="row">
        <div class="flex">
            <h2>Dépenses du groupe</h2>
            <a class="button" href="@Url.Action("Index", "Expense")"> ⊕ Ajouter une dépense</a>
            <ul class="list-group">

                @foreach (var expense in ViewBag.listExpenses)
                {
                    <li class="list-group-item">
                        @if (expense.UserImageFile != null)
                        {
                            <img class="user-image" src="@expense.UserImageFile" />
                        }
                        else
                        {
                            <img class="user-image" src="~/Content/Images/default.png" />
                        }
                        <h3>@expense.Name</h3>
                        <h4>@expense.Title</h4>
                        <h3 class="expense-value">@expense.Value €</h3>
                        <p class="espace">Payé par @expense.Firstname @expense.Lastname au groupe</p>
                        <small>@expense.DateCourte</small>
                    </li>
                }
            </ul>
        </div>
        <div class="flex">
            <h2>Bilan du groupe</h2>

            @foreach (var user in ViewBag.listeUsers)
            {   
               if(@ViewBag.SommesDues[user.Id] > 0)
               {
                <p class="somme-due">@user.Firstname @user.Lastname doit @ViewBag.SommesDues[user.Id] € au groupe</p>
               }
               else
               { 
                <p class="somme-due">Le groupe doit @(ViewBag.SommesDues[user.Id]*-1) € à @user.Firstname @user.Lastname</p>
               }
            }
        </div>
    </div>
</div>