
@model WildPay.Models.Expense


@{
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}


<div class="login-page">
    <h2>Bienvenue sur WildPay !</h2>

    @using (Html.BeginForm("Validate", "ExpenseEdition"))
    {
        @Html.ValidationSummary(true)

<div id="login-wrapper">
    <h3>Ajouter une dépense</h3>

    <div class="login-form-group">
        @Html.LabelFor(Model => Model.Title)
        @Html.EditorFor(Model => Model.Title)
        <p class="error">
            @Html.ValidationMessageFor(Model => Model.Title)
        </p>
    </div>

    <div class="login-form-group">
        @Html.LabelFor(Model => Model.CreatedAt)
        @Html.EditorFor(Model => Model.CreatedAt)
        <p class="error">
            @Html.ValidationMessageFor(Model => Model.CreatedAt)
        </p>
    </div>

    <div class="login-form-group">
        <label for="categorie-select">Catégorie : </label>
        <select name="categorieId" id="categorieId">
            <option value="">Choisir une catégorie</option>
            @{
                foreach (WildPay.Models.Category cat in ViewBag.listeCategories)
                {
                    <option value="@cat.Id">@cat.Name</option>
                }
            }
        </select>
    </div>

    <div class="login-form-group">
        <label for="auteur-select">Auteur : </label>
        <select name="auteurId" id="auteurId">
            <option value="">Choisir une catégorie</option>
            @{
                foreach (WildPay.Models.User auteur in ViewBag.listeUsers)
                {
                    <option value="@auteur.Id">@auteur.Firstname</option>
                }
            }
        </select>
    </div>



    <div class="login-form-group">
        @Html.LabelFor(Model => Model.Value)
        @Html.EditorFor(Model => Model.Value)
        <p class="error">
            @Html.ValidationMessageFor(Model => Model.Value)
        </p>
    </div>


    <p class="error">
        @ViewBag.Message
    </p>

    <button class="btn btn-primary" type="submit">
        Valider
    </button>

</div>
    }


</div>

