@model WildPay.Models.User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2>Bienvenue sur WildPay !</h2>

<div id="login-div">
    @if (@ViewBag.ConfirmationCreationCompte == true)
    {
        <p class="success">Compte créé avec succès ! Connectez-vous dès maintenant</p>
    }

    @using (Html.BeginForm("Authorize", "Connexion", FormMethod.Post))
    {
        <form>
            <fieldset>
                <legend>Connectez-vous</legend>
                <p>
                    @Html.LabelFor(model => model.Email) <br />
                    @Html.EditorFor(model => model.Email)
                </p>

                <p>
                    @Html.ValidationMessageFor(model => model.Email)
                </p>

                <p>
                    @Html.LabelFor(model => model.Password) <br />
                    @Html.EditorFor(model => model.Password)
                </p>

                <p>
                    @Html.ValidationMessageFor(model => model.Password)
                </p>

                <p>
                    <label>@Html.DisplayFor(model => model.loginErrorMessage)</label>
                </p>

                <p><input type="submit" name="buttonSubmit" value="Connexion" /></p>
                <a class="button" href="@Url.Action("Index", "AccountCreation")">Pas de compte ? inscription</a>
            </fieldset>
        </form>
    }
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
