@model WildPay.Models.User

@{
    if (Session["Id"] != null)
    {
        Response.Redirect("~/Expense/Index");
    }
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<div class="login-page">
    <h2>Heureux de vous revoir sur WildPay !</h2>

    <div id="login-wrapper" class="box">
        @if (@ViewBag.ConfirmationCreationCompte == true)
        {
            <p class="success confirmMsg">Compte créé avec succès ! Connectez-vous dès maintenant</p>
        }

        @using (Html.BeginForm("Authorize", "Connexion", FormMethod.Post))
        {
            <form>

                <h3>Se connecter</h3>
                <div class="form-group">
                    @Html.LabelFor(model => model.Email)
                    @Html.EditorFor(model => model.Email)
                    <p class="error">
                        @Html.ValidationMessageFor(model => model.Email)
                    </p>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Password)
                    @Html.EditorFor(model => model.Password)
                    <p class="error">
                        @Html.ValidationMessageFor(model => model.Password)
                    </p>
                </div>


                <p class="error">
                    <label>@Html.DisplayFor(model => model.loginErrorMessage)</label>
                </p>

                <button class="btn btn-primary" type="submit">
                    Connexion
                </button>
                <a href="@Url.Action("Index", "AccountCreation")">Pas de compte ? Inscription</a>

            </form>
        }
    </div>

</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
